.intro{
  height: auto;
  background-color: #fff;
  text-align: center;
  .section-title{
    margin:25px 0 10px;
    color: #222;
    font-size: 20px;
    font-weight: 400;
    @media screen and (min-width:768px){
      margin:100px 0 90px;
      font-size: 40px;
    }
  }
  p{
    margin-bottom:25px;
    color: #222;
    font-size: 12px;
    line-height: 16px;
    @media screen and (min-width:768px){
      margin:0 auto 100px;
      width:761px;
      padding: 0 15px;
      font-size: 18px;
      line-height: 36px;
    }
  }
}