.portfolio{
  @include clearfix;
  background-color: #222;
  h2{
    margin:50px auto;
    color:#fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    @media screen and (min-width:768px){
      margin:90px auto 80px;
      font-size: 40px;
    }
  }
  .filter-navigation {
    margin:0 auto;
    text-align:center;
    li {
      display: inline-block;
      margin: 0 auto 40px;
      width: 145px;
      @media screen and (min-width: 324px)and (max-width: 532px) {
        &:first-child{
          display:block;
        }
      }
      @media screen and (min-width: 533px) {
        margin: 0 10px 40px;
      }
      a {
        width: 145px;
        padding: 10px 40px;
        border: 2px solid #d11f2d;
        font-size: 10px;
        text-align: center;
        color: #fff;
        &:hover, &:focus {
          color: #d11f2d;
          border: 2px solid #fff;
          background-color: #fff;
        }
        @media screen and (min-width: 480px) {
          font-size: 14px;
        }
      }
    }
  }
}
