@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
/* line 4, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 14px "open sans", sans-serif;
  background: #fff;
  color: #000;
}

/* line 6, ../sass/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 12, ../sass/_reset.scss */
select, input, textarea {
  font-size: 14px;
  vertical-align: middle;
}

/* line 13, ../sass/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 14, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 15, ../sass/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 16, ../sass/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reset.scss */
a:link, a:visited {
  font: 14px "open sans", sans-serif;
  color: #4C8BBF;
  text-decoration: none;
}

/* line 19, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/layout/_header.scss */
header {
  background-color: rgba(34, 34, 34, 0.5);
  position: fixed;
  z-index: 1;
  width: 100%;
}
/* line 6, ../sass/layout/_header.scss */
header .top-headerline {
  height: 5px;
  background-color: #d11f2d;
}
@media screen and (min-width: 768px) {
  /* line 6, ../sass/layout/_header.scss */
  header .top-headerline {
    height: 10px;
  }
}
/* line 13, ../sass/layout/_header.scss */
header h1 {
  display: inline-block;
  float: left;
  width: 160px;
  line-height: 0.5px;
}
@media screen and (min-width: 768px) {
  /* line 13, ../sass/layout/_header.scss */
  header h1 {
    margin-top: 10px;
    width: 190px;
  }
}
/* line 22, ../sass/layout/_header.scss */
header h1 .logo {
  margin-right: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  /* line 22, ../sass/layout/_header.scss */
  header h1 .logo {
    font-size: 20px;
  }
}
/* line 32, ../sass/layout/_header.scss */
header h1 .gradient-element {
  display: inline-block;
  overflow: hidden;
  height: 12px;
  width: 75px;
  background: linear-gradient(to right, #018ada 33%, rgba(1, 138, 218, 0.5) 66%, rgba(1, 138, 218, 0.5) 33%);
}
/* line 39, ../sass/layout/_header.scss */
header h1 .logo-text {
  color: white;
  font-size: 10px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  /* line 39, ../sass/layout/_header.scss */
  header h1 .logo-text {
    font-size: 12px;
  }
}
/* line 48, ../sass/layout/_header.scss */
header .dropdown {
  overflow: hidden;
  float: right;
  position: relative;
  width: 113px;
  height: 83px;
}
@media screen and (min-width: 768px) {
  /* line 48, ../sass/layout/_header.scss */
  header .dropdown {
    margin-top: 10px;
  }
}
/* line 57, ../sass/layout/_header.scss */
header .dropdown button {
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
}
/* line 62, ../sass/layout/_header.scss */
header .dropdown button:focus + .dropdown-menu {
  display: block;
}
/* line 65, ../sass/layout/_header.scss */
header .dropdown button .fa {
  font-size: 30px;
  color: #fff;
}
/* line 70, ../sass/layout/_header.scss */
header .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 40px;
  width: 100px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  /* line 70, ../sass/layout/_header.scss */
  header .dropdown .dropdown-menu {
    left: 30px;
  }
}
/* line 80, ../sass/layout/_header.scss */
header .dropdown .dropdown-menu a {
  color: white;
  font-size: 10px;
  font-weight: 700;
  transition: 0.5s;
}
/* line 85, ../sass/layout/_header.scss */
header .dropdown .dropdown-menu a:hover {
  color: red;
}
@media screen and (min-width: 768px) {
  /* line 80, ../sass/layout/_header.scss */
  header .dropdown .dropdown-menu a {
    font-size: 14px;
  }
}

/* line 1, ../sass/landing/_hero.scss */
.hero {
  position: relative;
  min-height: 320px;
  background: url("../images/hero-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 1, ../sass/landing/_hero.scss */
  .hero {
    min-height: 810px;
  }
}
/* line 10, ../sass/landing/_hero.scss */
.hero .section-title {
  margin: 150px 0 5px;
  opacity: 0.9;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  /* line 10, ../sass/landing/_hero.scss */
  .hero .section-title {
    margin: 400px 0 20px;
    font-size: 40px;
  }
}
/* line 22, ../sass/landing/_hero.scss */
.hero p {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  /* line 22, ../sass/landing/_hero.scss */
  .hero p {
    font-size: 18px;
  }
}
/* line 31, ../sass/landing/_hero.scss */
.hero span {
  display: block;
  margin: 50px 0 10px;
  opacity: 0.9;
  color: white;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  /* line 31, ../sass/landing/_hero.scss */
  .hero span {
    font-size: 14px;
    margin: 200px 0 10px;
  }
}
/* line 45, ../sass/landing/_hero.scss */
.hero .arrow-down {
  display: block;
  text-align: center;
  color: #fff;
}
/* line 49, ../sass/landing/_hero.scss */
.hero .arrow-down .fa {
  margin-top: 5px;
  font-family: FontAwesome;
  color: #fff;
}

/* line 1, ../sass/landing/_intro.scss */
.intro {
  height: auto;
  background-color: #fff;
  text-align: center;
}
/* line 5, ../sass/landing/_intro.scss */
.intro .section-title {
  margin: 25px 0 10px;
  color: #222;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  /* line 5, ../sass/landing/_intro.scss */
  .intro .section-title {
    margin: 100px 0 90px;
    font-size: 40px;
  }
}
/* line 15, ../sass/landing/_intro.scss */
.intro p {
  margin-bottom: 25px;
  color: #222;
  font-size: 12px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  /* line 15, ../sass/landing/_intro.scss */
  .intro p {
    margin: 0 auto 100px;
    width: 761px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 36px;
  }
}

/* line 1, ../sass/landing/_download-section.scss */
.download-section {
  background: #222 url("../images/download-bg.jpg") no-repeat;
  background-size: cover;
}
/* line 4, ../sass/landing/_download-section.scss */
.download-section p {
  margin: 25px auto 10px;
  color: white;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 4, ../sass/landing/_download-section.scss */
  .download-section p {
    margin: 100px auto 70px;
    padding: 0 15px;
    width: 791px;
    font-size: 20px;
    line-height: 36px;
  }
}
/* line 18, ../sass/landing/_download-section.scss */
.download-section .download-btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: 3px solid white;
  margin: 0 auto 25px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  transition: 1s;
}
/* line 29, ../sass/landing/_download-section.scss */
.download-section .download-btn:hover {
  border: 3px solid #222;
  color: #222;
  background: white;
}
@media screen and (min-width: 420px) {
  /* line 18, ../sass/landing/_download-section.scss */
  .download-section .download-btn {
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  /* line 18, ../sass/landing/_download-section.scss */
  .download-section .download-btn {
    margin: 0 auto 100px;
    width: 390px;
    font-size: 30px;
  }
}

/* line 1, ../sass/landing/_features.scss */
.features {
  background: #222;
}
@media screen and (min-width: 768px) {
  /* line 1, ../sass/landing/_features.scss */
  .features {
    background: #222 url("../images/features-bg.png") right no-repeat;
    min-height: 750px;
  }
}
/* line 7, ../sass/landing/_features.scss */
.features h2 {
  margin: 25px auto 10px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  /* line 7, ../sass/landing/_features.scss */
  .features h2 {
    margin: 90px 0 70px;
    font-size: 40px;
  }
}
/* line 17, ../sass/landing/_features.scss */
.features h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  font-family: Montserrat;
}
@media screen and (min-width: 768px) {
  /* line 17, ../sass/landing/_features.scss */
  .features h3 {
    font-size: 18px;
    text-align: left;
  }
}
/* line 30, ../sass/landing/_features.scss */
.features h4 {
  color: #fff;
}
/* line 33, ../sass/landing/_features.scss */
.features p {
  widht: 50%;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  /* line 33, ../sass/landing/_features.scss */
  .features p {
    width: 486px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }
}
/* line 47, ../sass/landing/_features.scss */
.features .features-list {
  float: left;
  margin: 60px 0 15px;
}
/* line 50, ../sass/landing/_features.scss */
.features .features-list li {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px 0 10px;
  float: left;
}
/* line 56, ../sass/landing/_features.scss */
.features .features-list li p {
  text-align: left;
}
/* line 60, ../sass/landing/_features.scss */
.features .features-list .fa {
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  padding: 6px;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  font-size: 38px;
  background-color: #fff;
}

/* line 1, ../sass/landing/_services.scss */
.services {
  background-color: #d11f2d;
  color: #fff;
}
/* line 4, ../sass/landing/_services.scss */
.services h2 {
  margin: 25px auto 10px;
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  /* line 4, ../sass/landing/_services.scss */
  .services h2 {
    margin: 90px 0 70px;
    font-size: 40px;
  }
}
/* line 13, ../sass/landing/_services.scss */
.services ul {
  overflow: hidden;
}
/* line 16, ../sass/landing/_services.scss */
.services ul li {
  padding: 10px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 461px) and (max-width: 899px) {
  /* line 16, ../sass/landing/_services.scss */
  .services ul li {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 21, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
  /* line 24, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(4) {
    float: right;
    margin-right: 0;
  }
  /* line 27, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(6) {
    float: right;
    margin-right: 0;
  }
  /* line 30, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(8) {
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 1059px) {
  /* line 16, ../sass/landing/_services.scss */
  .services ul li {
    margin-bottom: 90px;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 37, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(3) {
    float: right;
    margin-right: 0;
  }
  /* line 40, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(6) {
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 1060px) {
  /* line 16, ../sass/landing/_services.scss */
  .services ul li {
    margin-bottom: 90px;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 47, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(4) {
    float: right;
    margin-right: 0;
  }
  /* line 50, ../sass/landing/_services.scss */
  .services ul li:nth-of-type(8) {
    float: right;
    margin-right: 0;
  }
}
/* line 54, ../sass/landing/_services.scss */
.services ul li p {
  font-size: 10px;
  text-align: justify;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  /* line 54, ../sass/landing/_services.scss */
  .services ul li p {
    font-size: 13px;
  }
}
/* line 65, ../sass/landing/_services.scss */
.services .head-contents {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* line 69, ../sass/landing/_services.scss */
.services .head-contents h4 {
  color: #fefefe;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  /* line 69, ../sass/landing/_services.scss */
  .services .head-contents h4 {
    font-size: 18px;
  }
}
/* line 79, ../sass/landing/_services.scss */
.services span {
  color: black;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 2px 1px 1px 2px;
  text-align: center;
  line-height: 2;
  font-size: 18px;
}

/* line 1, ../sass/landing/_portfolio.scss */
.portfolio {
  overflow: hidden;
  *zoom: 1;
  background-color: #222;
}
/* line 4, ../sass/landing/_portfolio.scss */
.portfolio h2 {
  margin: 50px auto;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  /* line 4, ../sass/landing/_portfolio.scss */
  .portfolio h2 {
    margin: 90px auto 80px;
    font-size: 40px;
  }
}
/* line 15, ../sass/landing/_portfolio.scss */
.portfolio .filter-navigation {
  margin: 0 auto;
  text-align: center;
}
/* line 18, ../sass/landing/_portfolio.scss */
.portfolio .filter-navigation li {
  display: inline-block;
  margin: 0 auto 40px;
  width: 145px;
}
@media screen and (min-width: 324px) and (max-width: 532px) {
  /* line 24, ../sass/landing/_portfolio.scss */
  .portfolio .filter-navigation li:first-child {
    display: block;
  }
}
@media screen and (min-width: 533px) {
  /* line 18, ../sass/landing/_portfolio.scss */
  .portfolio .filter-navigation li {
    margin: 0 10px 40px;
  }
}
/* line 31, ../sass/landing/_portfolio.scss */
.portfolio .filter-navigation li .filter {
  width: 145px;
  padding: 10px 40px;
  border: 2px solid #d11f2d;
  background: transparent;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
  color: #fff;
  transition: 1s;
}
/* line 41, ../sass/landing/_portfolio.scss */
.portfolio .filter-navigation li .filter:hover, .portfolio .filter-navigation li .filter:focus {
  color: #d11f2d;
  border: 2px solid #fff;
  background-color: #fff;
}
@media screen and (min-width: 480px) {
  /* line 31, ../sass/landing/_portfolio.scss */
  .portfolio .filter-navigation li .filter {
    font-size: 14px;
  }
}
/* line 52, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list {
  margin: 25px auto 0;
  text-align: center;
}
/* line 55, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list li {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 656px) {
  /* line 55, ../sass/landing/_portfolio.scss */
  .portfolio .portfolio-list li {
    display: inline-block;
  }
}
/* line 63, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list li .portfolio-rollover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.75);
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}
/* line 73, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list li .portfolio-rollover a {
  position: relative;
  display: block;
  margin-top: 4%;
  left: 5%;
  width: 90%;
  height: 86%;
  border: 1px solid white;
}
/* line 82, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list li .portfolio-rollover:hover {
  opacity: 1;
}
/* line 86, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list li h4 {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}
/* line 97, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list li span {
  dispalay: block;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 108, ../sass/landing/_portfolio.scss */
.portfolio .portfolio-list .mix {
  display: none;
}

/* line 1, ../sass/landing/_team.scss */
.team {
  overflow: hidden;
  *zoom: 1;
  background: #fff;
}
/* line 4, ../sass/landing/_team.scss */
.team h2 {
  margin: 25px auto 25px;
  color: #222;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 4, ../sass/landing/_team.scss */
  .team h2 {
    margin: 100px auto 50px;
    font-size: 40px;
  }
}
/* line 14, ../sass/landing/_team.scss */
.team p {
  margin: 0 auto 25px;
  color: #222;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 14, ../sass/landing/_team.scss */
  .team p {
    width: 720px;
    margin: 0 auto 80px;
    font-size: 22px;
  }
}
/* line 26, ../sass/landing/_team.scss */
.team .team-list {
  margin: 0 auto;
  text-align: center;
}
/* line 29, ../sass/landing/_team.scss */
.team .team-list li {
  display: inline-block;
  margin-bottom: 30px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.team .team-list li:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (min-width: 461px) and (max-width: 655px) {
  /* line 29, ../sass/landing/_team.scss */
  .team .team-list li {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 35, ../sass/landing/_team.scss */
  .team .team-list li:nth-of-type(2) {
    float: right;
    margin-right: 0;
  }
  /* line 38, ../sass/landing/_team.scss */
  .team .team-list li:nth-of-type(4) {
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 656px) and (max-width: 899px) {
  /* line 29, ../sass/landing/_team.scss */
  .team .team-list li {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 44, ../sass/landing/_team.scss */
  .team .team-list li:nth-of-type(3) {
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 900px) {
  /* line 29, ../sass/landing/_team.scss */
  .team .team-list li {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 50, ../sass/landing/_team.scss */
  .team .team-list li:nth-of-type(4) {
    float: right;
    margin-right: 0;
  }
}
/* line 55, ../sass/landing/_team.scss */
.team .team-list .active-team {
  position: relative;
}
/* line 57, ../sass/landing/_team.scss */
.team .team-list .active-team .rollover {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0%;
  left: 0;
  bottom: 0px;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.5);
  opacity: 0;
  transition: 0.5s;
}
/* line 68, ../sass/landing/_team.scss */
.team .team-list .active-team .rollover:hover {
  opacity: 0.5;
}
/* line 71, ../sass/landing/_team.scss */
.team .team-list .active-team .rollover h4 {
  margin-top: 100%;
  color: white;
  font-size: 23px;
}
/* line 76, ../sass/landing/_team.scss */
.team .team-list .active-team .rollover span {
  color: white;
  font-size: 18px;
}
/* line 82, ../sass/landing/_team.scss */
.team .team-list .team-hiring {
  position: relative;
}
/* line 84, ../sass/landing/_team.scss */
.team .team-list .team-hiring .apply-description {
  position: absolute;
  width: 100%;
  height: 99%;
  left: 0%;
  top: 0;
}
/* line 90, ../sass/landing/_team.scss */
.team .team-list .team-hiring .apply-description span {
  display: block;
  width: 80px;
  margin: 20% auto 50px;
  color: #222;
  font-size: 23px;
}
/* line 97, ../sass/landing/_team.scss */
.team .team-list .team-hiring .apply-description a {
  display: inline-block;
  width: 180px;
  padding: 18px 50px;
  border: 3px solid #222;
  color: #222;
  font-size: 23px;
  font-weight: 700;
  transition: 0.5s;
}
/* line 106, ../sass/landing/_team.scss */
.team .team-list .team-hiring .apply-description a:hover {
  background: #222;
  color: red;
  border-color: red;
}

/* line 1, ../sass/landing/_clients-base.scss */
.clients-base {
  overflow: hidden;
  *zoom: 1;
  background-color: #f4f4f4;
}
/* line 4, ../sass/landing/_clients-base.scss */
.clients-base h2 {
  margin: 25px auto 35px;
  text-align: center;
  color: #222;
  font-weight: 400;
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  /* line 4, ../sass/landing/_clients-base.scss */
  .clients-base h2 {
    margin: 90px 0 70px;
  }
}
/* line 14, ../sass/landing/_clients-base.scss */
.clients-base ul {
  margin: 0 auto 25px;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  /* line 14, ../sass/landing/_clients-base.scss */
  .clients-base ul {
    margin-bottom: 90px;
  }
}
/* line 20, ../sass/landing/_clients-base.scss */
.clients-base ul li {
  display: inline-block;
  margin: 2%;
}

/* line 1, ../sass/landing/_contact.scss */
.contact {
  background-color: #d11f2d;
}
/* line 3, ../sass/landing/_contact.scss */
.contact p {
  margin: 50px auto 10px;
  color: white;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
}
@media screen and (min-width: 920px) {
  /* line 3, ../sass/landing/_contact.scss */
  .contact p {
    margin: 100px auto 70px;
    padding: 0 15px;
    width: 920px;
    font-size: 20px;
    line-height: 40px;
  }
}
/* line 17, ../sass/landing/_contact.scss */
.contact .contact-btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 auto 25px;
  background-color: white;
  border-radius: 4px;
  color: #252525;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  transition: 0.5s;
}
/* line 29, ../sass/landing/_contact.scss */
.contact .contact-btn:hover {
  color: red;
  background: white;
}
@media screen and (min-width: 420px) {
  /* line 17, ../sass/landing/_contact.scss */
  .contact .contact-btn {
    width: 240px;
  }
}
@media screen and (min-width: 768px) {
  /* line 17, ../sass/landing/_contact.scss */
  .contact .contact-btn {
    margin: 0 auto 100px;
    width: 240px;
    font-size: 24px;
    font-weight: 700;
  }
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: #222;
}
/* line 3, ../sass/layout/_footer.scss */
footer .copyright {
  margin: 25px 0;
  color: white;
  font-size: 10px;
}
@media screen and (min-width: 570px) {
  /* line 3, ../sass/layout/_footer.scss */
  footer .copyright {
    display: inline-block;
    margin-top: 35px;
    font-size: 14px;
  }
}
/* line 13, ../sass/layout/_footer.scss */
footer .social-networks {
  text-align: center;
  margin: 0 0 25px;
}
@media screen and (min-width: 570px) {
  /* line 13, ../sass/layout/_footer.scss */
  footer .social-networks {
    float: right;
    margin-top: 25px;
  }
}
/* line 20, ../sass/layout/_footer.scss */
footer .social-networks li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
}
/* line 26, ../sass/layout/_footer.scss */
footer .social-networks li a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: #fff;
}
/* line 32, ../sass/layout/_footer.scss */
footer .social-networks li a:hover {
  opacity: 0.5;
}
/* line 35, ../sass/layout/_footer.scss */
footer .social-networks li a .fa {
  font-size: 30px;
}
/* line 40, ../sass/layout/_footer.scss */
footer .social-networks .behance-link {
  background-color: #018ada;
}
/* line 43, ../sass/layout/_footer.scss */
footer .social-networks .facebook-link {
  background-color: #3c5a98;
}
/* line 46, ../sass/layout/_footer.scss */
footer .social-networks .pinterest-link {
  background-color: #d13f3f;
}
/* line 49, ../sass/layout/_footer.scss */
footer .social-networks .dribbble-link {
  background-color: #e95c93;
}

/* line 21, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/style.scss */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  overflow: hidden;
}
/* line 12, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 26, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}
